<!doctype html>
<html class="no-js" lang="en">

<head lang="en">
  <title>Webz | Dreamz Template | About</title>
  <!-- meta tags -->
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="//Write description here//">
  <meta name="keywords" content="//Write keywords here//">
  <meta charset="UTF-8">
  <meta name=”robots” content=”index,follow”>
  <!-- add information -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="//add-title//">
  <meta property="og:description" content="//add-description//">
  <meta property="og:url" content="//add-url//">
  <meta property="og:site_name" content="//add-name//">
  <meta name="twitter:title" content="//add-title//">
  <meta name="twitter:description" content="//add-description//">
  <meta name="twitter:site" content="//add-url//">
  <!-- add manifest when files ready -->
  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <!-- add manifest when files ready -->
  <!-- // -->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <!-- canonical link robots thingy -->
  <!-- // -->
  <!-- add canonical tag when domain ready -->
  <!-- <link rel="canonical”" href="//add-site//"> -->
  <!-- <link rel="shortlink" href="//add-site//"> -->
  <!-- add canonical tag when domain ready -->
  <!-- // -->
  <!-- canonical link robots thingy -->
  <!-- main.css -->
  <link rel='stylesheet' href='/dist/css/app.min.css'>
  <!-- main.css -->
  <!-- print.css -->
  <link rel="stylesheet" type="text/css" href="/dist/css/print.css" media="print" />
  <!-- print.css -->
  <meta name="theme-color" content="#fafafa">
  <!-- ion-icons -->
  <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
</head>

<body data-barba="wrapper" id="Topz">
  <!-- Get to Code -->

  <div class="load-container">
    <div class="loading-screen"></div>
  </div>

  <main data-barba="container" data-barba-namespace="about-section">

    <header class="a-el-main-header">
      <h1 class="a-el-brand wow fadeInUp" data-wow-delay="1.8s"><span class="sc__">Webz </span>Co.</h1>
    </header>
    <section class="a-el-hero-section">
      <div class="icenter">
        <h2 class="a-ehs-temp-title wow fadeInUp" data-wow-delay="2s">dreamz</h2>
        <a href="/views/home.html">
          <button class="a-ehs-gtb wow fadeInUp" data-wow-delay="2.2s">Go back to home page</button>
        </a>
      </div>
    </section>

    <!-- no-code-below -->
    <!-- <div class="invisible-annoying-error-killer"></div> -->
    <!-- main-section:end -->
  </main>

  <!-- Modernizr -->
  <script src="/js/vendor/modernizr-3.7.1.min.js"></script>
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-bez@1.0.11/src/jquery.bez.js"></script>
  <script src="/js/vendor/jquery-3.4.1.min.js"></script>
  <!-- Gsap/TweenMax/Barba -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
    integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
  <script src="https://unpkg.com/@barba/core"></script>
  <!-- Parallax -->
  <script src="/js/vendor/rellax.min.js"></script>
  <!-- Smooth scrolling:goTo -->
  <script src="/js/vendor/smooth-scroll.polyfills.js"></script>
  <!-- Animations -->
  <!-- <script src="/js/vendor/on-scroll-anim.js"></script> -->
  <script src="/js/vendor/wow.min.js"></script>
  <script src="/js/vendor/transition.js"></script>
  <!-- plugins -->
  <script src="/js/plugins.js"></script>
  <!-- Main -->
  <script src="/js/main.js"></script>
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
