<!doctype html>
<html class="no-js" lang="en">
  <head lang="en">
    <title>Webz | Home</title>
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name ="description" content="//Write description here//">
    <meta name ="keywords" content ="//Write keywords here//">
    <meta charset="UTF-8">
    <meta name=”robots” content=”index,follow”>
    <!-- add information -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="//add-title//">
    <meta property="og:description" content="//add-description//">
    <meta property="og:url" content="//add-url//">
    <meta property="og:site_name" content="//add-name//">
    <meta name="twitter:title" content="//add-title//">
    <meta name="twitter:description" content="//add-description//">
    <meta name="twitter:site" content="//add-url//">

    <!-- link tags -->

    <!-- /favicon -->
    <!-- // -->
    <!-- add manifest when files ready -->
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- add manifest when files ready -->
    <!-- // -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- canonical link robots thingy -->
    <!-- // -->
    <!-- add canonical tag when domain ready -->
    <!-- <link rel="canonical”" href="//add-site//"> -->
    <!-- <link rel="shortlink" href="//add-site//"> -->
    <!-- add canonical tag when domain ready -->
    <!-- // -->
    <!-- canonical link robots thingy -->
    <!-- main.css -->

    <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" rel="stylesheet">

    <link rel='stylesheet' href='/dist/css/app.min.css'>
    <!-- main.css -->
    <!-- print.css -->
    <link rel="stylesheet" type="text/css" href="/dist/css/print.css" media="print" />
    <!-- print.css -->
    <meta name="theme-color" content="#fafafa">
  </head>
  <body data-barba="wrapper" id="Topz">
    <!-- Get to Code -->

    <div class="load-container">
      <div class="loading-screen"></div>
    </div>

    <main data-barba="container" data-barba-namespace="home-section">

       <!-- preloader:start -->

       <div class="intro-one">
        <svg class="svg-light" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
          <rect x="20" y="50" width="4" height="10" fill="rgb(84, 139, 114)">
            <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0"
              dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="30" y="50" width="4" height="10" fill="rgb(84, 139, 114)">
            <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0"
              begin="0.2s" dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="40" y="50" width="4" height="10" fill="rgb(84, 139, 114)">
            <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0"
              begin="0.4s" dur="0.6s" repeatCount="indefinite" />
          </rect>
        </svg>
      </div>

      <div class="intro-two">

        <p class="hide">
          <span class="intro-two-title">CREATIVITY</span>
        </p>
        <p class="hide">
          <span class="intro-two-title">IS</span>
        </p>
        <p class="hide">
          <span class="intro-two-title g50-txt">KEY</span>
        </p>

      </div>

      <div class="intro-three">
        <svg class="svg-dark" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
          <rect x="20" y="50" width="4" height="10" fill="#3b3b3b">
            <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0"
              dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="30" y="50" width="4" height="10" fill="#3b3b3b">
            <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0"
              begin="0.2s" dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="40" y="50" width="4" height="10" fill="#3b3b3b">
            <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0"
              begin="0.4s" dur="0.6s" repeatCount="indefinite" />
          </rect>
        </svg>
      </div>

      <!-- preloader:end -->

      <section class="el-hero-section">
        <header class="el-main-header">
          <a href="/views/home.html">
            <h1 class="el-brand">Webz Co.</h1>
          </a>

          <nav>
            <ul class="ehs-ul">
              <a class="ehs-nav-list" href="/views/gallery.html">
                <li class="nav-li-zite">Zite</li>
              </a>
              <a class="ehs-nav-list" href="/views/about.html">
                <li>Coming</li>
              </a>
              <a class="ehs-nav-list" href="/views/contact.html">
                <li>Zoon</li>
              </a>
            </ul>
          </nav>
        </header>

        <div class="ehs-center-box">
          <!-- ehs-anim-box:start -->
          <div class="ehs-anim-box"></div>
          <!-- ehs-anim-box:end -->

          <div class="ehs-flex-center-txt">
            <h1 class="hide">
              <span class="ecb-text bw-txt">DRE</span>
            </h1>
            <h1 class="hide">
              <span class="ecb-text ecb-color-anim">AMZ</span>
            </h1>
          </div>

        </div>

      </section>

        <!-- no-code-below -->
        <!-- <div class="invisible-annoying-error-killer">

        </div> -->
      <!-- main-section:end -->
    </main>

    <!-- Modernizr -->
    <script src="/js/vendor/modernizr-3.7.1.min.js"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-bez@1.0.11/src/jquery.bez.js"></script>
    <!-- Gsap/TweenMax/Barba -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="https://unpkg.com/@barba/core"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <!-- Parallax -->
    <script src="/js/vendor/rellax.min.js"></script>
    <!-- Smooth scrolling:goTo -->
    <script src="/js/vendor/smooth-scroll.polyfills.js"></script>
    <!-- Animations -->
    <script src="/js/vendor/velocity.min.js"></script>
    <script src="/js/vendor/velocity.ui.min.js"></script>
    <script src="/js/vendor/wow.min.js"></script>
    <script src="/js/vendor/transition.js"></script>
    <script src="/js/vendor/h-anim.js"></script>
    <!-- <script src="js/vendor/on-scroll-anim.js"></script> -->

    <!-- Main -->
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
      ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
