//hero-section
.c-el-main-header{
  @include col(4/4); margin-right: 0;
  padding: 2em;
  position: fixed;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-el-hero-section{
  @include col(4/4); margin-right: 0;
  background: url(/resources/img/hero/c-hero-bg.jpg) no-repeat center center;
  background-size: cover;
  background-color: #817f7ffa;
  background-blend-mode: multiply;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// .ahs-anim{
//     animation: go-left 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
//       -moz-animation: go-left 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
//         -webkit-animation: go-left 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
//           -o-animation: go-left 2s cubic-bezier(0.19, 1, 0.22, 1) forwards;
//     animation-delay: .5s;

//     @keyframes go-left {
//       0% {
//         left: 0;
//         width: 0%;
//       }
//       50% {
//         left: 0;
//         width: 90%;
//         margin-left: 8%;
//       }
//       100% {
//         left: 0;
//         width: 90%;
//         margin-left: 5%;
//       }
//     }
//   }
