.hide{
  display: none;
}

.show{
  display: block;
}

.hide-dk{
  display: none;
}

.hide-phone{
  @include responsive(phone){
    display: none;
  }
}
.show-phone{
  @include responsive(phone){
    display: block;
  }
}

.invisible-annoying-error-killer{
  display: none;
}

